/*  ====================================================
Inhalt 
Datei: content.css
Datum: 2012-05-11
Autor: Tobias Gradl
========================================================== */

	/* ??? */
	.error {
		color: red;
		/* font-weight: bold;
		font-size: small; */
	}
	
	/* ----------------------------------- 
	   Allgemeingültiges für Tabellen */
	   
	ul {
		color: #333333;
	}
	
	li {
		margin-bottom: 0.3em;
	}
	
	table
	{
		text-align: left;
		border-collapse: collapse;
		border: 1px solid #003564;
		color: #333333;
		background-color: #FFFFFF;
	}
	
	thead {
		border-bottom: 1px solid #003564;
		background-color: #CEE2F3;
	}
	
	table td, table th
	{
		padding: 0.5em;
		vertical-align: middle;
	}
	
	
	/* ----------------------------------- 
	   Äußere Tabelle (Übersicht) */
	
	#details_container {
		padding: 0 20px;
	}
	
	#details_container_head {
		margin: 0;
		/*background-color: #CEE2F3; 
		border: 1px solid #003564;*/
		overflow: hidden;
	}
	
	#details_container_body {
		background-color: #FFFFFF;
		border: 1px solid #003564;
		padding: 10px;
	}
	
	#details_container_head li {
		display: block;
		float: left;
		margin: 0;
		list-style: none;
		color: #333333;
		/*background-color: #CEE2F3;*/
		/*cursor: pointer;*/
	}
	
	#details_container_head a, 
	#details_container_head span {
		display: block;
		/*padding: 6px;*/
		text-decoration: none;
		/*border: 1px solid #053665;*/
		color: #1A3B6A;
		
		/*font-weight: bold;
		text-shadow: 1px 1px 0 #9C9AB4;*/
		
		padding: 8px 10px;
		margin: 0 5px -1px 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border: 1px solid #003564;
	}

	#details_container_head a {
		background-color: #CEE2F3;
	}
	
	#details_container_head span {
		border-bottom: 1px solid #FFFFFF;
		background-color: #2C73B2;
		color: #FFFFFF;
	}

	#details_container_head a:hover {
		text-decoration: underline;
		background-color: #2C73B2;
		color: #FFFFFF;
	}
	
	
	table.listing_container
	{
		background-color: #FFFFFF;
		table-layout: fixed;
	}
	   
	table.listing_container thead th
	{
		white-space: nowrap;
		border-bottom: 1px solid #003564;
		background-color: #CEE2F3;
		color: #003564;
	}
	
	table.listing_container td
	{
		white-space: nowrap;
		cursor: pointer;
		border-top: 1px solid #AAAAAA;
		padding: 0;
	}
	
	table.listing_container td a {
		display: block;
		padding: 0.5em;
		text-decoration: none;
	}
	
	table.listing_container .modelActions a {
		display: inline;
	}
		
	table.listing_container tbody tr:hover td
	{
		background: #a6c7e4;
	}	
	
	table.listing_container .listing_selected  {
		background-color: #CEE2F3;
		/* font-weight: bold;
		font-size: small; */
	}
	
	table.listing_container .listing_error a {
		color: #731719;
	}
	
	/* Letzte Spalte mit Aktionsbuttons */
	td.actionsLocked, td.actions {
		border-left: 1px dashed #003564;
		width: 120px;
		text-align: center;
		
	}
	
		td.actionsLocked .modelLoading,
		td.actions .modelActions {
			position: relative;
			display: block;
			width: auto;
			height: auto;
			visibility: visible;
		}
		
		td.actionsLocked .modelActions, 
		td.actions .modelLoading {
			position: absolute;
			display: inline;
			width: 0;
			height: 0;
			visibility: hidden;
		}	
	
	/* ----------------------------------- 
	   Innere Tabelle (Details zu Listing) */
	   
	table.listing_container .model_details td, 
	table.listing_container .model_details_hidden td {
		border-top: none;
	}
	
	.model_details_hidden {
		display: none;
	}
	
	table.listing_detail_container
	{
		border: none;
		margin: 0;
	}
	
	table.listing_detail_container th, 
	table.listing_detail_container td
	{
		padding: 0.2em 0.5em;
		margin-bottom: 10px;
		/*font-size: 85%;*/
		border: none;
		vertical-align: top;
		/*border-bottom: 1px solid black;*/
	}
	
	table.listing_detail_container th
	{
		text-align: right;
		color: #003564;
		font-weight: normal;
		white-space: nowrap;
		/*width: 150px;*/
	}
	
	#login_form_wrapper {
		margin: 30px auto;
		width: 500px;
	}
	
	#login_form_wrapper table {
		background-color: #FFFFFF;
		width: 500px;
		border: 1px solid #CACACA;
	}
	
	#login_form_wrapper table tr {
		padding: 0 30px;
	}
	
	#login_form_wrapper table td {
		padding: 0.5em;
	}
	
	#content_login_form label {
		display: block;
		text-align: right;
		width: 100px;
	}
	
	#content_login_form input[type=text], 
	#content_login_form input[type=password] {
		border: 1px solid #CACACA;
		width: 300px;
		/*margin-top: 5px;*/
		padding: 2px 5px;
		color: #000;
	}
	
	#login_error {
		border: 1px solid #FF0000; 
		border-radius: 5px; 
		margin: 10px 0; 
		background-color: #FFA0A0; 
		padding: 10px; 
		font-weight: bold;
	}
		
	
	/** -----------------------------------
	 *	  Infobox für Meldungen
	 *  ----------------------------------- */
	#notes {
		margin-left: 5%; 
		padding-left: 240px;
		text-align: right;
		margin-top: 55px;
		overflow: hidden;
		
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
}
	
	#top_messages {
		float: right; 
		position: relative;
	}
	
	#top_messages ul {
		margin: 0 10px 0 0; 
		border-radius: 5px; 
		border: 1px solid #008500;
		background-color: #B9F1B9;
		position: relative;
	}
	
	#top_messages li {
		display: block; 
		text-align: center; 
		border-bottom: 1px dashed #008500; 
		margin: 0pt; 
		padding: 5px 10px;
	}
	
	#top_messages li:LAST-CHILD {
		border-bottom: none; 
	}
	
		
	/* ----------------------------------- 
	   Tabelle für Formulare (new, edit) */
	   
	form table th {
		text-align: right;
		vertical-align: baseline;
		font-size: 100%;
	}
	
	form table td {
		padding: 15px 10px 10px 10px;
		vertical-align: baseline;
		font-size: 100%;
	}
	
	form input {
		font-size: 100%;
	}
	
	#formPlaceholder {
		position: absolute;
		/*border-radius: 5px; 
		border: 1px solid #008500;
		background-color: #B9F1B9;
		
		padding: 5px 40px 5px 5px;*/
	}
	
	#formPlaceholder form table {
		/*border-radius: 5px; 
		border: 1px solid #008500;*/
		background: white;
		
		margin: 0;
	}
	
	#asyncFormContainer {
		/*position: absolute; 
		top: 0; 
		left: 0; */
	}
	
	#asyncFormBackground {
		position: absolute; 
		top: 0; 
		left: 0; 
		bottom: 0;
		right: 0;
		background-color: #313131;
	}
	
	#asyncFormContainer form#schema {
		position: absolute;
		top: 200px;
		left: 50px;
	}
	
	.fileinput-button input {
	    cursor: pointer;
	    direction: ltr;
	    font-size: 23px;
	    margin: 0;
	    opacity: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    transform: translate(-300px, 0px) scale(4);
	}
	
	
	#log_view {
		min-width: 1000px; 
		width: 100%; 
	}
		
	#log_view tbody {
		font-size: 85%;
	}
	
	#log_view tbody td {
		border-bottom: 1px solid #003564;
		vertical-align: top;
	}