/*  ====================================================
Seitenlayout 
Datei: layout.css
Datum: 2009-09-30
Autor: Tobias Gradl
========================================================== */
body {
	padding: 0px;
	margin: 0;
	background-color: #F4F8FE;
}

#content_layout {
	margin: 110px 5% 20px 5%;
}

#content {
	margin: 0 -20px;
	min-width: 1000px;
}

#contentInner {
	margin: 30px 20px;
}

/* ==============================================
   Top (Logo and Navigation)
   ============================================== */

/* Äußerer Container für die Kopfzeile */
#top {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 800px;
}

#top_bg_placeholder {
	background: #13304B url("../img/bg.png") repeat-x bottom left;
	padding-left: 5%; /* aligned with the Logo */
	overflow: hidden;
}

#dariah_logo {
	position: relative;
	left: 5%;
	top: -60px;
	height: 100px;
	width: 227px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

/* Drop-Down Navigationsbereich in der Kopfzeile */
#top_nav {
	margin: 0 0 2px 250px;
	padding: 0;
	float:left;
	font-size: 105%;
}

#top_nav li {
	display: block;
	float: left;
	padding: 2px 2px 1px 2px;
	margin: 8px 5px 3px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	list-style: none;
	color: #333333;
	background-color: #FFFFFF;
}

#top_nav a {
	display: block;
	padding: 6px;
	text-decoration: none;
	border: 1px solid #053665;
	color: #1A3B6A;
	/*font-weight: bold;
	text-shadow: 1px 1px 0 #9C9AB4;*/
}

	#top_nav a:hover {
		text-decoration: underline;
		background-color: #2C73B2;
		color: #FFFFFF;
	}

/** Buttons **/
#top_action_buttons {
	position: absolute;
	right: 5px;
	top: 2px;
}

.top_action_btn_container {
	position: relative;
	float: right;
	margin-top: 2px;
	display: block;
	list-style: none;
	width: auto;
}

.action_btn {
	text-shadow: 1px 1px 0 #000;
	color: #FFFFFF;
	margin: 5px 5px 0 5px;
	height: 32px;
	cursor: pointer;
}

	.action_btn:hover {
		background: #2c73b2;
	}
	
	.action_btn span {
		float: left;
		padding: 0 10px 0 10px;
		margin-top: 8px;
		text-align: center;
	}
	
	.action_btn a {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.action_btn a:hover {
		text-decoration: none;
	}
	
	.action_btn .flag {
		margin-top: -6px;
	}
	
	.action_btn .triangle {
		display: block;
		float: left;
		width: 0px;
		height: 0px;
		margin: 14px 9px 0 0;
		border-left: 5px solid transparent;
		/* left arrow slant */
		border-right: 5px solid transparent;
		/* right arrow slant */
		border-top: 5px solid #fff;
		/* bottom,add background color here */
		font-size: 0px;
		line-height: 0px;
	}				


.action_box {
	display: none;
	position: absolute;
	right: 0; 
	top: 0;
}

.tab {
	background: #3374B2;
	float: right;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 41px;
	z-index: 10;
}

.action_box_content {
	float: left;
	background: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
		
	color: #FFFFFF;
	padding: 2px;
	border: 1px solid #888888;
	margin-top: -3px;
}

.action_box_content div {
	background-color: #65A0D9;
	overflow: hidden;
}

.action_box_content h3 {
	color: #FFFFFF;	
}

#action_box_login_form {
	margin: 9px 0 0 9px;
}

#action_box_login_form input[type=text], 
#action_box_login_form input[type=password] {
	border: 1px solid #666666;
	width: 150px;
	margin-top: 5px;
	padding: 2px 5px;
	color: #000;
}

#action_box_login_form input[type=submit] {
	border: none;
	background: #002241;
	border: 1px solid #ACACAC;
	color: #fff;
	float: right;
	margin: 9px 9px 9px 0;
	width: 56px;
	height: 29px;
	cursor: pointer;
}

#action_box_login_form input[type=submit]:hover {
	background: #003564;
}

#action_language_selection {
	margin: 0;
}

#action_language_selection li {
	position: relative;
	margin: 5px;
	margin-top: 2px;
	display: block;
	float: left;
	width: 32px;
	list-style: none;
	height: 32px;
}

