/*body { 
	background-color: #dedede; 
	margin-left: 0; 
	margin-right: 0; 
	margin-top: 0; 
}*/

#mapping_canvas_container { 
	/*margin-left: auto; 
	margin-right: auto; 
	width: 800px; */
	background-color: #FFF;
}

#mapping_canvas_toolbar {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	width: 800px;
}

.mapping_right {
	text-align: right;
}

#mapping_canvas_toolbar_source_name, 
#mapping_canvas_toolbar_target_name {
	font-weight: bold;
	color: #13304B;
}

#mapping_canvas_toolbar td {
	width: 50%;
   	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
   	color: #333333;
	font-size: 115%;
	padding: 5px 0;
}

#mapping_canvas_toolbar a {
	padding: 0 10px;
}

#mapping_canvas_toolbar img {
	margin-right: 10px;
	padding: 0;
}



input[type="text"], input[type="password"] { 
	/*text-align: left; 
	border: none; 
	background: #fff; 
	color: #000; 
	font-family: Verdana;*/ 
	font-size: 95%; 
	/*font-weight: bold;*/ 
	outline: none; 
}

input[type="button"] { 
	border: 1px solid #555; 
	background: #555; 
	color: #000; 
	font-family: Verdana; 
	font-size: 10px; 
	font-weight: bold; 
	outline: none; 
}

input[type="button"]:hover { 
	border: 1px solid #999; 
	background: #999; 
	color: #000; 
	cursor: pointer; 
}

input[type="button"]:active { 
	border: 1px solid #ccc; 
	background: #ccc; 
	margin: 0; 
	padding: 0; 
}

input[type="button"]::-moz-focus-inner { 
	border: none; 
}

#canvas {  
	outline: none; 
}

#canvas:focus { 
	/*outline: 1px solid #555;*/ 
}