<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] %logger{32}\(%line\): %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
		
	<root>
		<level value="info"/>
		<appender-ref ref="console" />
	</root>
	
	<logger name="eu.dariah.de.minfba">
		<level value="debug" />
	</logger>
	<logger name="de.unibamberg.minf">
		<level value="debug" />
	</logger>
	<!-- <logger name="org.apache.http">
		<level value="debug" />
	</logger> -->
</configuration>